body{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#a{
    width: 480px;
    height: 75px;
    border: solid black;
    background-color: burlywood;
}

#b{
    width: 480px;
    height: 150px;
    border: solid black;
    background-color: burlywood;
}

#c{
    width: 480px;
    height: 125px;
    border: solid black;
    background-color: burlywood;
}

#d{
    width: 480px;
    height: 125px;
    border: solid black;
    background-color: burlywood;
}

#e{
    width: 240px;
    height: 250px;
    border: solid black;
    background-color: burlywood;
    display: inline-block;
}

#f{
    width: 240px;
    height: 250px;
    border: solid black;
    background-color: burlywood;
    display: inline-block;
}

#g{
    width: 240px;
    height: 250px;
    border: solid black;
    background-color: burlywood;
    display: inline-block;
}

#h{
    width: 240px;
    height: 250px;
    border: solid black;
    background-color: burlywood;
    display: inline-block;

}

#i{
    width: 480px;
    height: 80px;
    border: solid black;
    background-color:burlywood; 
}

@media only screen and (min-width: 768px) {

    /* section {
    overflow:hidden;
}  */

#a{
    height: 100px;
    width: 960px;
}

#b{
    height: 600px;
    width: 200px;
}

#c{
    height: 200px;
    width: 380px;
}
#d{
    height: 200px;
    width: 380px;
}
#e{
    height: 250px;
    width: 190px;
}
#f{
    height: 250px;
    width: 190px;
}
#g{
    height: 250px;
    width: 190px;
}
#h{
    height: 250px;
    width: 190px;
}
#i{
    height: 150px;
    width: 760px;
}
}